%h1 Key &ndash; <em>http://#{@node.name}/riak/#{@bucket.name}/#{@robject.key}</em>

= haml :_key_meta

#key
  - if @robject.content_type == 'application/json'
    %pre~ format_output_value(JSON.pretty_generate(@robject.data), @robject.content_type)

  - else
    %pre~ format_output_value(@robject.data, @robject.content_type)

%ul#footer-navi
  %li
    %a{:href => "/nodes"} Nodes
  %li
    %a{:href => "/nodes/#{@node.name}"} Buckets
  %li
    %a{:href => "/nodes/#{@node.name}/#{@bucket.name}"} Keys
  %li
    %a.action{:href => "/nodes/#{@node.name}/#{@bucket.name}/#{@robject.key}/edit"} Edit
  %li
    %a.action{:href => "http://#{@node.name}/riak/#{@bucket.name}/#{@robject.key}", :target => '_blank'} Riak
