%h1 Edit Key &ndash; <em>http://#{@node.name}/riak/#{@bucket.name}/#{@robject.key}</em>

%form{:method => 'post', :action => "/nodes/#{@host}/#{@bucket.name}/#{@robject.key}"}
  = method_put
  %label{:for => 'content_type'} Content Type
  %select#content_type{:name => 'content_type'}
    = content_type_options.each do |option|
      %option{select_options(@robject.content_type, :value => option)}
        = option
  
  %label{:for => 'edit_key'}= "<em>Key</em> #{@robject.key}"
  ~ %Q[<textarea id="edit_key" name="value">#{format_raw_value @robject}</textarea>]
  %p
    This feature is currently experimental.
  %button Update

%a{:href => "/nodes/#{@host}/#{@bucket.name}"} Back to #{@bucket.name}