%h1 Edit Key &ndash; <em>http://#{@node.name}/riak/#{@bucket.name}/#{@robject.key}</em>

%form{:method => 'post', :action => "/nodes/#{@host}/#{@bucket.name}/#{@robject.key}"}
  = method_put
  
  = haml :_key_meta
  
  ~ %Q[<textarea id="edit_key" name="value">#{format_raw_value @robject}</textarea>]
  %p.warning
    This feature is currently experimental.
  %button Update

%ul#footer-navi
  %li
    %a{:href => "/nodes"} Nodes
  %li
    %a{:href => "/nodes/#{@node.name}"} Buckets
  %li
    %a{:href => "/nodes/#{@node.name}/#{@bucket.name}"} Keys
  %li
    %a.action{:href => "/nodes/#{@node.name}/#{@bucket.name}/#{@robject.key}"} View
  %li
    %a.action{:href => "http://#{@node.name}/riak/#{@bucket.name}/#{@robject.key}", :target => '_blank'} Riak
